*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
margin:0;
padding:0;
font-family:Poppins,sans-serif;

background:linear-gradient(
135deg,
#ff8fb1,
#ffc6d9,
#ffe5ee
);

overflow-x:hidden;
overflow-y:auto;
}

#page1{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.title{

font-size:4rem;

color:white;

text-shadow:
0 0 10px white,
0 0 20px white;

animation:glow 2s infinite alternate;

}

.subtitle{

margin-top:20px;

font-size:1.3rem;

color:white;

}

#openBtn{

margin-top:30px;

padding:15px 40px;

border:none;

border-radius:50px;

font-size:20px;

cursor:pointer;

background:white;

color:#ff4d88;

font-weight:bold;

}

/* PAGE 2 */

#page2{

display:none;

height:100vh;

justify-content:center;

align-items:center;

padding:20px;

}

.letter{

background:white;

color:#444;

padding:30px;

max-width:700px;

border-radius:25px;

box-shadow:
0 0 30px rgba(0,0,0,.2);

animation:slideUp 1s ease;

}

.letter h2{

color:#ff4d88;

margin-bottom:20px;

}

.letter p{

line-height:1.8;

white-space:pre-line;

}

#nextPage{

margin-top:25px;

padding:12px 30px;

border:none;

border-radius:40px;

background:#ff4d88;

color:white;

cursor:pointer;

}

@keyframes glow{

from{

text-shadow:
0 0 10px white;

}

to{

text-shadow:
0 0 30px white,
0 0 60px pink;

}

}

@keyframes slideUp{

from{

opacity:0;

transform:translateY(80px);

}

to{

opacity:1;

transform:translateY(0);

}

}

/* PAGE 3 */

#page3{

display:none;

height:100vh;

flex-direction:column;

justify-content:center;

align-items:center;

}

.galleryTitle{

font-size:3rem;

color:white;

margin-bottom:30px;

}

.sliderContainer{

width:350px;

height:450px;

overflow:hidden;

border-radius:25px;

box-shadow:
0 0 25px rgba(255,255,255,.6);

}

.sliderContainer img{

width:100%;

height:100%;

object-fit:cover;

}

#galleryNext{

margin-top:30px;

padding:15px 35px;

border:none;

border-radius:40px;

font-size:18px;

cursor:pointer;

background:white;

color:#ff4d88;

font-weight:bold;

}

/* PAGE 4 */

#page4{

display:none;

height:100vh;

flex-direction:column;

justify-content:center;

align-items:center;

padding:20px;

}

.giftTitle{

font-size:3rem;

color:white;

margin-bottom:30px;

}

.giftContainer{

display:grid;

grid-template-columns:
repeat(3,120px);

gap:25px;

}

.giftBox{

font-size:70px;

cursor:pointer;

transition:.3s;

}

.giftBox:hover{

transform:scale(1.2);

}

#giftMessage{

margin-top:30px;

background:white;

color:#ff4d88;

padding:20px;

border-radius:20px;

max-width:500px;

font-weight:bold;

min-height:70px;

}

#giftNext{

margin-top:25px;

padding:15px 35px;

border:none;

border-radius:40px;

background:white;

color:#ff4d88;

font-size:18px;

cursor:pointer;

}

/* PAGE 5 */

#page5{

display:none;

height:100vh;

flex-direction:column;

justify-content:center;

align-items:center;

}

.cakeTitle{

font-size:3rem;

color:white;

}

.bigCake{

font-size:180px;

animation:cakeJump 1.5s infinite;

}

.cakeText{

font-size:24px;

color:white;

margin:20px;

}

@keyframes cakeJump{

50%{

transform:translateY(-20px);

}

}

#cakeNext{

padding:15px 35px;

border:none;

border-radius:40px;

cursor:pointer;

font-size:18px;

}

/* PAGE 6 */

#page6{

display:none;

height:100vh;

flex-direction:column;

justify-content:center;

align-items:center;

padding:30px;

text-align:center;

}

.finalTitle{

font-size:3.5rem;

color:white;

margin-bottom:25px;

}

.finalMessage{

max-width:700px;

font-size:22px;

line-height:1.8;

color:white;

white-space:pre-line;

}

#restartBtn{

margin-top:30px;

padding:15px 35px;

border:none;

border-radius:40px;

font-size:18px;

cursor:pointer;

}

#musicBtn{

margin-top:15px;

padding:12px 25px;

border:none;

border-radius:30px;

cursor:pointer;

}